[submodule "jalen"]
	path = jalen
	url = https://github.com/adelnoureddine/jalen.git
[submodule "jolinar"]
	path = jolinar
	url = https://github.com/adelnoureddine/jolinar.git
[submodule "uarch-configure"]
	path = uarch-configure
	url = https://github.com/deater/uarch-configure
[submodule "applications/Benchmarking-Sorting-Algorithms"]
	path = applications/Benchmarking-Sorting-Algorithms
	url = https://github.com/arisath/Benchmarking-Sorting-Algorithms.git
[submodule "jRAPL"]
	path = jRAPL
	url = https://github.com/kliu20/jRAPL.git
[submodule "applications/lzstring4j"]
	path = applications/lzstring4j
	url = https://github.com/diogoduailibe/lzstring4j.git
[submodule "applications/Java-Matrix-Benchmark"]
	path = applications/Java-Matrix-Benchmark
	url = https://github.com/lessthanoptimal/Java-Matrix-Benchmark.git
[submodule "applications/ojAlgo"]
	path = applications/ojAlgo
	url = https://github.com/optimatika/ojAlgo.git
[submodule "watts-up"]
	path = watts-up
	url = https://github.com/pyrovski/watts-up.git
[submodule "powerapi"]
	path = powerapi
	url = https://github.com/Spirals-Team/powerapi.git
