[submodule "jalen"]
	path = jalen
	url = https://github.com/adelnoureddine/jalen.git
[submodule "jolinar"]
	path = jolinar
	url = https://github.com/adelnoureddine/jolinar.git
[submodule "uarch-configure"]
	path = uarch-configure
	url = https://github.com/deater/uarch-configure
[submodule "applications/Benchmarking-Sorting-Algorithms"]
	path = applications/Benchmarking-Sorting-Algorithms
	url = https://github.com/arisath/Benchmarking-Sorting-Algorithms.git
[submodule "jRAPL"]
	path = jRAPL
	url = https://github.com/kliu20/jRAPL.git
